@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-container {
    background-color:#1F2937 ;

}

.header {
    font-size: 18px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    height: 50px;
    width: auto;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px; 
}

.hero-box {
    align-self: center;
    margin-right: 20px; 
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.text {
    color: #E5E7EB;
}

.sign-up-button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
}

.container {
    text-align: center;
}

.title-1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-top: 25px;
    
}
.container-box {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}
.info {
    flex-wrap: wrap;
}
.box-image {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid #3882F6;
}

.text-1 {
    text-align: center;
    margin-top: -15px; 
}

.quote-container {
    background-color: #E5E7EB;
}

.quote-box {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding-left: 400px;
    padding-right: 400px;
}

.text-2 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;  
}

.text-3 {
    font-weight: 900;
    align-self: flex-end;
}

.action-container {
    margin: 100px;
}

.action-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    padding: 50px;
}

.title-2 {
    color: #E5E7EB;
    font-weight: bolder;
    font-size: x-large;
    
}

.text-4 {
    color: #E5E7EB;
    padding: 0px;
    margin: 0px;
}

.sign-up-button-2 {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: large;
}
